.vue-typer[data-v-1e834f04] {
  --char-typed-color: #9ca3af !important;
  --char-selected-color: #9ca3af !important;
  --caret-typing-color: #9ca3af !important;
  --caret-idle-color: #9ca3af !important;
}
